version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=portfolio_db
    ports:
      - "5441:5432"
    networks:
      - portfolio-network
    restart: always

  backend:
    build: ./backend
    ports:
      - "8002:8000"
    environment:
      - PORT=8000
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/portfolio_db
    depends_on:
      - db
    networks:
      - portfolio-network

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=
    ports:
      - "8082:80"
    depends_on:
      - backend
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge

volumes:
  postgres_data:
